/* section1.css */

/* Styles existants... */

#accueil {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.typing-effect h1 {
    font-size: 4vw;
    white-space: nowrap;
    overflow: hidden;
    border-right: .15em solid orange;
    color: #fff;
    /* Animation mise à jour */
    animation: blink-caret 0.75s step-end infinite;
}

/* Animation de clignotement du curseur */
@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: orange; }
}

#background-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: opacity 1s ease-out, transform 1s ease-out; /* Ajout de transitions */
    opacity: 1; /* Opacité initiale */
}

/* Styles pour les petits écrans */
@media (max-width: 768px) {
    .typing-effect h1 {
        font-size: 6vw;
    }
}

/* Styles pour les très petits écrans */
@media (max-width: 480px) {
    .typing-effect h1 {
        font-size: 8vw;
    }
}