/* Styles généraux */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #FDFDFD;
    color: #2C2C2C;
    line-height: 1.6;
    overflow-x: hidden; /* Empêche le défilement horizontal */
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}